* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.container {
  width: 500px;
  min-height: 100vh;
  margin: auto;
  padding: 25px 25px 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.form {
  padding: 0 25px 0;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.fa-search {
  padding: 15px 15px 15px 20px;
  position: absolute;
  cursor: pointer;
}

.form .input {
  min-height: 24px;
  padding: 15px 15px 15px 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
  transition: width 0.1s ease-in-out;
}

.form .input:focus {
  -webkit-box-shadow: inset 0 0 0 2px #ccc;
  box-shadow: inset 0 0 0 2px #ccc;
  outline: none;
}

.form span {
  color: #ffca28;
  cursor: pointer;
}

.tasks {
  padding: 0 25px;
  background-color: #eee;
  border-radius: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 15px 15px 45px;
  background: #fff;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.task .check {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.task .check.done {
  border-color: #aaa;
  background-color: #aaa;
}

.task .check.done i {
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: green;
  position: relative;
  top: 2px;
}

.task .check.done+p {
  color: #aaa;
  text-decoration: line-through;
}

.task p {
  color: #333;
}

button {
  background-color: #ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  padding: 8px 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash {
  font-size: 14px;
}

button:hover {
  background-color: #f00;
}

/* Media Query */
@media (max-width: 500px) {
  .container {
    padding: 25px 0;
  }
}

/* Animations */
.task.animate-left {
  position: relative;
  z-index: 10;
  animation: animate-left 0.3s ease-in-out;
}

@keyframes animate-left {
  from {
    right: 0;
  }

  to {
    right: -200%;
  }
}

.new {
  background-color: #fff;
  padding: 10px;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  position: fixed;
  left: 50%;
  /* margin: auto; */
  bottom: 0;
  /* transform: translateX(-50%); */
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, 100px);
  transition: all 0.3s ease-in-out;
  z-index: 15;
}

@media screen and (max-width: 768px) {
  .new {
    width: 100%;
  }
}

.new .input {
  padding: 15px;
  border: none;
  outline: none;
  display: flex;
  flex: 1;
  border-top-left-radius: 15px;

}

.new .add {
  padding: 0 15px;
  border-top-right-radius: 15px;
  border: none;
  outline: none;
  background: #fff;
  color: #777;
  cursor: pointer;
}

.add-new {
  background-color: #ffca28;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 34px;
  cursor: pointer;
  position: fixed;
  /* float: right; */
  right: 40px;
  bottom: 22px;
}


.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #0000005e;
}